{
  "presets": [
    "env",
    "react-native",
    "stage-0"
  ],
  "sourceMaps": true,
  "plugins": [
    "transform-decorators-legacy", [
      "import",
      {
        "libraryName": "antd-mobile-rn"
      }
    ]
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console"
      ]
    }
  }
}